<h1>Product New Page</h1> 
<%= form_for @project do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
   <div>
    <%= f.label :due_date %>
    <%= f.text_field :due_date %>
  </div>
  <%= f.submit %>
<% end %>