<h1><%= @project.title %></h1>
<p><%= @project.description%></p>
<p><%= @project.due_date %></p>
<p><%= link_to "Edit", edit_project_path(@project) %></p>
<p><%= link_to "Delete", project_path(@project),
method: :delete, data: {confirm: "Are you sure?"} %></p>